*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*Textos Generales*/
a{
    text-decoration: none;
    color: white;
}
strong{
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-decoration: none;
}
/*Textos Generales FIN*/
/*body y header general*/
body{
    background-color: aliceblue;
}
header{
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    opacity: 0.9;
}
/*Barra general*/
.barra{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Barra vista en escritorio*/
.mobile-nav{
    display: none;
}
.desktop-nav ul{
    list-style-type: none;
    display: flex;
}
.desktop-nav ul li{
    position: relative;
    margin-right: 20px;
}
.desktop-nav ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 10px;
    display: block;
}
.desktop-nav ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
}
.desktop-nav ul ul li{
    margin-bottom: 5px;
}
.desktop-nav ul ul li a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: background-color 0.3s;
}
.desktop-nav ul ul li a:hover{
    background-color: #555;
}
.desktop-nav ul li:hover > ul{
    display: block;
}
/*FIN BARRA ESCRIOTRIO*/
/*Vista del main en general(Seria la parte central debajo de barra)*/
main{
    width: 100%;
    padding: 0;

}
/*Fin de pagina*/
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    opacity: 0.9;
}
/*Contenedor-main*/
.contenedor-main{
    font-size: 45px;
    background-color: #af1f1f;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* Sombra de texto */
    color: #ffffff; /* Color del texto */
    
}
.separacion-2{
    font-size: 25px;
    background-color: #af1f1f;
    color: #99bb64; /* Color del texto */
}

/*MAIN DE PAGINA INICIAL (WOLF)*/
/*Carrousel de imagenes.*/
.carrousel-wolf{
    width: 1000px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}
.carrousel-wolf ul{
    display: flex;
    pad: 0;
    width: 300%;
    animation: slide-desktop 20s infinite alternate ease-in-out;
}
.carrousel-wolf li{
    width: 100%;
    list-style: none;
    position: relative;
}
.carrousel-wolf img{
    width: 100%;
}
.ver-mas{
    color: rgb(80, 61, 11);
    display: block;
    text-align: center;
    margin-top: 20px;
    counter-reset: #333;
    text-decoration: none;
    font-size: 18px;
}
.ver-mas:hover{
    color: #555;
}
@keyframes slide-desktop {
    0% {transform: translateX(0);}
    10% {transform: translateX(0);}
    20% {transform: translateX(-8%); }
    30% {transform: translateX(-8%);}
    40% {transform: translateX(-25%);}
    50% {transform: translateX(-25%);}
    60% {transform: translateX(-42%);}
    70% {transform: translateX(-42%);}
    80% {transform: translateX(-57%);}
    90% {transform: translateX(-57%);}
    100% {transform: translateX(-73%);}
}
/*FIN Carrousel de imagenes.*/
/*Imagenes pasables de abajo.*/
.contenedores-imagenes {
    justify-content: center;
    display: flex;
    gap: 80px;
}
.cuadro-imagen{
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
}
.deslizado1 img {
    width: 100%;
    height: 100%;
}
.deslizado2 img {
    width: 100%;
    height: 100%;
}
.deslizado3 img {
    width: 100%;
    height: 100%;
}
.prev1, .next1, .prev2, .next2 ,.prev3, .next3 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next1, .next2, .next3 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev1:hover, .next1:hover,.prev2:hover, .next2:hover,.prev3:hover, .next3:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .text {
    color: #d1c5c5;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
/*FIN Imagenes pasables de abajo.*/
/*ESTO ES ARTICULOS.*/
/*Botones de filtro y grupos de imagenes.*/
.barra-filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100px;
}
.boton-filtro{
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}
.boton-filtro:hover{
    background-color: #333;
    color: white;
}
.grupo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.grupo p{
    margin: 0;
}
.grupo a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
}
.grupo img{
    display: block;
    width: 300px;
    height: auto;
    margin-bottom: 10px;
}
.grupo img:last-child {
    margin-right: 0;
}

/*ESTO ES COMPRAS.*/
/*Interfaz de compras.*/
.articulo-seleccionado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.detalle-articulo {
    flex: 1;
    padding: 90px;
}
.imagen-articulo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-articulo img {
    max-width: 100%;
    height: auto;
    max-height: 700px;
}
.opciones button, .opciones input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 10px;
}
.talla1, .talla2, .talla3 {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}
.talla1:hover, .talla2:hover, .talla3:hover {
    background-color: #333;
    color: white;
}
.talla1.selected, .talla2.selected, .talla3.selected {
    background-color: #333;
    color: white;
}
/*Esto es interfaz en modo celular, falta trabajar.*/
@media (max-width: 768px){
    .desktop-nav{
        display: none;
    }

}